if SHIELD_PKKBLAB_LEFT

config ZMK_KEYBOARD_NAME
    default "pkkblab"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PKKBLAB_LEFT || SHIELD_PKKBLAB_RIGHT

config ZMK_SPLIT
    default y

endif
